<div class="contaier-fluid">
    <div class="col-10 ml-auto mr-auto">
        <form [formGroup]="videoForm" (ngSubmit)="startExtraction()">
            <div class="form-group mt-3">
                <input type="text" formControlName="link" class="form-control" placeholder="PASTE THE VIDEO LINK">
            </div>
            <div class="form-group text-center">
                <input type="submit" value="EXTRACT VIDEO" class="btn btn-outline-success" [disabled]="!videoForm.valid">
            </div>
        </form>
    </div>
    <div class="col-10 ml-auto mr-auto text-center" *ngIf="videoLink">
        <video [src]="videoLink" alt="" class="img-fluid" height="300px" width="300px" controls>

        </video>
    </div>
    <div class="col-10 ml-auto mr-auto text-center mt-3" *ngIf="videoLink">
        <button class="btn btn-outline-primary" style="text-decoration: inherit;" (click)="downloadImage()">DOWNLOAD VIDEO</button>
    </div>
</div>